In [1]:
import pandas as pd

In [2]:
df = pd.read_html('http://kind.krx.co.kr/corpgeneral/corpList.do?method=download', header=0)[0]

In [4]:
!pip install lxml

Collecting lxml
  Downloading lxml-4.6.1-cp38-cp38-win_amd64.whl (3.5 MB)
Installing collected packages: lxml
Successfully installed lxml-4.6.1

In [4]:
df.head()

,회사명,종목코드,업종,주요제품,상장일,결산월,대표자명,홈페이지,지역
0,JS전선,5560,절연선 및 케이블 제조업,"선박선,고무선,전력선,통신선 제조",2007-11-12,12월,이익희,http://www.jscable.co.kr,충청남도
1,거북선2호,101380,NaN,운송장비(선박) 임대,2008-04-25,12월,신주선,NaN,부산광역시
2,거북선6호,114140,NaN,NaN,2009-10-01,12월,김연신,NaN,제주특별자치도
3,교보메리츠,64900,NaN,"부동산 투자,운용",2002-01-30,12월,김 상 진,NaN,서울특별시
4,국제관광공사,28780,NaN,NaN,1966-03-18,12월,NaN,NaN,NaN

# 종목코드 갖고 오기

In [6]:
!pip install pandas_datareader

Collecting pandas_datareader
  Downloading pandas_datareader-0.9.0-py3-none-any.whl (107 kB)
Requirement already satisfied: requests>=2.19.0 in c:\users\apollo\anaconda3\envs\tensorflow\lib\site-packages (from pandas_datareader) (2.24.0)
Requirement already satisfied: pandas>=0.23 in c:\users\apollo\anaconda3\envs\tensorflow\lib\site-packages (from pandas_datareader) (1.1.3)
Requirement already satisfied: lxml in c:\users\apollo\anaconda3\envs\tensorflow\lib\site-packages (from pandas_datareader) (4.6.1)
Requirement already satisfied: chardet<4,>=3.0.2 in c:\users\apollo\anaconda3\envs\tensorflow\lib\site-packages (from requests>=2.19.0->pandas_datareader) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in c:\users\apollo\anaconda3\envs\tensorflow\lib\site-packages (from requests>=2.19.0->pandas_datareader) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\users\apollo\anaconda3\envs\tensorflow\lib\site-packages (from requests>=2.19.0->pandas_datareader) (1.25.10)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\apollo\anaconda3\envs\tensorflow\lib\site-packages (from requests>=2.19.0->pandas_datareader) (2020.6.20)
Requirement already satisfied: pytz>=2017.2 in c:\users\apollo\anaconda3\envs\tensorflow\lib\site-packages (from pandas>=0.23->pandas_datareader) (2020.1)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\apollo\anaconda3\envs\tensorflow\lib\site-packages (from pandas>=0.23->pandas_datareader) (2.8.1)
Requirement already satisfied: numpy>=1.15.4 in c:\users\apollo\anaconda3\envs\tensorflow\lib\site-packages (from pandas>=0.23->pandas_datareader) (1.18.5)
Requirement already satisfied: six>=1.5 in c:\users\apollo\anaconda3\envs\tensorflow\lib\site-packages (from python-dateutil>=2.7.3->pandas>=0.23->pandas_datareader) (1.15.0)
Installing collected packages: pandas-datareader
Successfully installed pandas-datareader-0.9.0

In [7]:
import pandas_datareader as pdr

In [8]:
pdr.get_data_yahoo('000270.KS')

               High      Low     Open    Close     Volume     Adj Close
Date
2015-10-26  54800.0  53700.0  53700.0  54600.0   837088.0  49344.511719
2015-10-27  55300.0  54000.0  54900.0  55100.0  1037136.0  49796.386719
2015-10-28  55500.0  54100.0  55500.0  54800.0   762999.0  49525.261719
2015-10-29  55300.0  54200.0  54300.0  54800.0   511535.0  49525.261719
2015-10-30  55900.0  54300.0  54800.0  55800.0   979684.0  50429.007812
...             ...      ...      ...      ...        ...           ...
2020-10-19  47750.0  46600.0  47000.0  46700.0  1536628.0  46700.000000
2020-10-20  47150.0  43150.0  43150.0  46850.0  4399855.0  46850.000000
2020-10-21  46750.0  45050.0  46550.0  45450.0  2311018.0  45450.000000
2020-10-22  45450.0  44300.0  44900.0  45200.0  1650240.0  45200.000000
2020-10-23  46600.0  45250.0  45250.0  46500.0   958241.0  46500.000000

[1220 rows x 6 columns]