In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [8]:
df = pd.read_excel('101_DT_1B26003_A01_20200704153647.xlsx', header=1, fillna=0)
# NAN = Not a Number

In [9]:
df.head()

,전출지별,전입지별,항목,단위,2020. 03 월,2020. 04 월,2020. 05 월,1970 년,1971 년,1972 년,...,2010 년,2011 년,2012 년,2013 년,2014 년,2015 년,2016 년,2017 년,2018 년,2019 년
0,전국,전국,이동자수,명,766192,614262,568965,4046536.0,4210164.0,3687938.0,...,8226594.0,8127195.0,7506691,7411784,7629098,7755286,7378430,7154226,7297099,7104398
1,전국,전국,순이동자수,명,0,0,0,0.0,0.0,0.0,...,0.0,0.0,0,0,0,0,0,0,0,0
2,전국,서울특별시,이동자수,명,164402,127208,117734,1742813.0,1671705.0,1349333.0,...,1733015.0,1721748.0,1555281,1520090,1573594,1589431,1515602,1472937,1439707,1426493
3,전국,서울특별시,순이동자수,명,-3404,-7117,-2709,293828.0,252689.0,138774.0,...,-115023.0,-113058.0,-103647,-100550,-87831,-137256,-140257,-98486,-110230,-49588
4,전국,부산광역시,이동자수,명,47666,41008,34761,448577.0,389797.0,362202.0,...,519334.0,508043.0,461042,478451,485710,507031,459015,439073,416095,411704

In [12]:
mask = (df['전출지별'] == '서울특별시') &(df['전입지별'] != '서울특별시') & (df['항목'] == '이동자수')

In [13]:
mask

0      False
1      False
2      False
3      False
4      False
       ...
643    False
644    False
645    False
646    False
647    False
Length: 648, dtype: bool

In [14]:
df2 = df[mask]

In [15]:
df2

,전출지별,전입지별,항목,단위,2020. 03 월,2020. 04 월,2020. 05 월,1970 년,1971 년,1972 년,...,2010 년,2011 년,2012 년,2013 년,2014 년,2015 년,2016 년,2017 년,2018 년,2019 년
36,서울특별시,전국,이동자수,명,167806,134325,120443,1448985.0,1419016.0,1210559.0,...,1848038.0,1834806.0,1658928,1620640,1661425,1726687,1655859,1571423,1549937,1476081
40,서울특별시,부산광역시,이동자수,명,1541,1078,924,11568.0,11130.0,11768.0,...,17418.0,18816.0,16135,16153,17320,17009,15062,14484,13093,12805
42,서울특별시,대구광역시,이동자수,명,1028,644,571,NaN,NaN,NaN,...,10277.0,10397.0,10135,10631,10062,10191,9623,8891,8446,7897
44,서울특별시,인천광역시,이동자수,명,3912,2982,2936,NaN,NaN,NaN,...,46082.0,51641.0,49640,47424,43212,44915,43745,40485,41233,38571
46,서울특별시,광주광역시,이동자수,명,763,610,555,NaN,NaN,NaN,...,11095.0,10587.0,10154,9129,9759,9216,8354,7932,7378,7014
48,서울특별시,대전광역시,이동자수,명,1156,855,765,NaN,NaN,NaN,...,13819.0,13900.0,14080,13440,13403,13453,12619,11815,11591,10759
50,서울특별시,울산광역시,이동자수,명,482,358,264,NaN,NaN,NaN,...,4742.0,5188.0,5691,5542,6047,5950,5102,4260,4086,3827
52,서울특별시,세종특별자치시,이동자수,명,448,316,298,NaN,NaN,NaN,...,NaN,NaN,2998,2851,6481,7550,5943,5813,5861,5919
54,서울특별시,경기도,이동자수,명,37296,28304,26296,130149.0,150313.0,93333.0,...,410735.0,373771.0,354135,340801,332785,359337,370760,342433,368536,334293
56,서울특별시,강원도,이동자수,명,1976,1603,1464,9352.0,12885.0,13561.0,...,22736.0,23624.0,22332,20601,21173,22659,21590,21016,19558,19105
58,서울특별시,충청북도,이동자수,명,1244,961,916,6700.0,9457.0,10853.0,...,15461.0,15318.0,14555,13783,14244,14379,14087,13302,13406,12543
60,서울특별시,충청남도,이동자수,명,1913,1606,1474,15954.0,18943.0,23406.0,...,24522.0,24723.0,22269,21486,21473,22299,21741,21020,20426,18522
62,서울특별시,전라북도,이동자수,명,1257,835,780,10814.0,13192.0,16583.0,...,17569.0,17755.0,16120,14909,14566,14835,13835,13179,11989,11058
64,서울특별시,전라남도,이동자수,명,1089,902,789,10513.0,16755.0,20157.0,...,16429.0,15974.0,14765,14187,14591,14598,13065,12426,11209,11334
66,서울특별시,경상북도,이동자수,명,1296,936,852,11868.0,16459.0,22073.0,...,16042.0,15818.0,15191,14420,14456,15113,14236,12464,12017,11935
68,서울특별시,경상남도,이동자수,명,1276,971,741,8409.0,10001.0,11263.0,...,15689.0,16039.0,14474,14447,14799,15220,13717,12692,11703,11369
70,서울특별시,제주특별자치도,이동자수,명,879,691,579,1039.0,1325.0,1617.0,...,5714.0,6133.0,6954,7828,9031,10434,10465,10404,9829,8503